<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/">open_ec</a>
            <a href="/">Home</a>
            <a href="{% url 'items:list' %}">Items</a>
            <a href="{% url 'items:new-item' %}">New item</a>
            <a href="{% url 'users:signup' %}">Create an account</a>
            {% if request.user.is_authenticated %}
            <div class="navbar-end">
            {{ request.user.username }}
            </div>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>