html {
    margin:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin:auto;
    width:1024px;
}
header {
    background-color: #455499;
    height:45px;
}
.navbar {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height:45px;
    color:white;
    gap:12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size:14px;

    a {
        color:white;
        text-decoration: none;
    }
}
input, textarea {
    display: block;
}
.navbar-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
}
.item-block {
    background-color: #fffbac;
    width:100%;

    a {
        color:black!important;
        text-decoration: none;
    }
}
.layout {
    display: flex;
    flex-direction: row;
    margin:25px;
}
.layout-main {
    flex: 3;
}
.layout-sidebar {
    flex: 1;
    margin-left:24px;
}