html {
    margin:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin:auto;
    width:1024px;
}
header {
    background-color: #455499;
    height:45px;
}
.navbar {
    display: flex;
    align-items: center;
    height:45px;
    color:white;
    gap:12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size:14px;

    a {
        color:white;
        text-decoration: none;
    }
}